@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent default touch behaviors */
canvas {
    touch-action: none;
  }
  
  /* Improve slider appearance */
  input[type="range"] {
    -webkit-appearance: none;
    height: 4px;
    background: #ffffff40;
    border-radius: 2px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }